	/*公用*/
	
	body,
	dl,
	dd,
	ul,
	ol,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	form,
	input,
	textarea,
	th,
	td,
	p {
		margin: 0;
		padding: 0;
	}
	
	body {
		margin: 0;
		background: #EEEEEE;
	}
	
	body * {
		-webkit-text-size-adjust: -webkit-user-select: none;
	}
	
	@font-face {
		font-family: myFirstFont;
		src: url(../img/images/fzlt.ttf);
	}
	
	body {
		font-family: myFirstFont;
	}
	
	a,
	button,
	input {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	
	.a {
		height: 100%;
		display: block;
		width: 100%;
	}
	
	button,
	input {
		-webkit-appearance: none;
		border-radius: 0;
	}
	
	a {
		text-decoration: none;
	}
	
	input {
		outline: none;
		vertical-align: middle;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	img {
		vertical-align: middle;
	}
	
	h3,
	h4,
	p {
		margin: 0;
	}
	
	.left {
		float: left;
	}
	
	.right {
		float: right;
	}
	
	.clearfix:after {
		content: '';
		display: block;
		clear: both;
	}
	/*----公用----左---------发布信息头部---右----- 不下拉------------*/
	
	#Header1 {
		position: fixed;
		left: 0;
		top: 0;
		border-bottom: 1px solid #EEEEEE;
		width: 100%;
		box-sizing: border-box;
	}
	
	.Header1_div {
		width: 100%;
		height: 2.25rem;
		line-height: 2.25rem;
		background: white;
		font-size: 0.8rem;
		text-align: center;
	}
	
	.Header1_div a.left {
		background: url(../img/images/fanhui.png) no-repeat;
		height: 1.1rem;
		width: 2.8rem;
		background-size: 0.6rem 1.1rem;
		display: inline-block;
		margin-left: 0.6rem;
		margin-top: 0.6rem;
	}
	
	.Header1_div a.right {
		font-size: 0.7rem;
		color: #666666;
		margin-right: 0.6rem;
	}
	/*--------------母婴我的--------------------*/
	
	#Header {
		padding: 0.6rem 0rem;
		width: 100%;
		background-color: white;
		text-align: center;
		font-size: 0.9rem;
		height: 2.25rem;
		box-sizing: border-box;
		left: 0;
		top: 0;
		position: fixed;
		line-height: 1.05rem;
		border-bottom: 1px solid #EEEEEE;
		z-index: 2;
		/*height: 100%;*/
	}
	
	#Header a.left span {
		background: url(../img/images/setting.png) no-repeat;
		display: inline-block;
		height: 1.05rem;
		width: 1.05rem;
		background-size: 1.05rem 1.05rem;
		margin-left: 0.6rem;
	}
	
	#Header a.right span {
		background: url(../img/images/ytw_shouye_xiaoxi.png) no-repeat;
		height: 1.05rem;
		width: 1.05rem;
		background-size: 1.05rem 1.05rem;
		background-position;
		display: inline-block;
		margin-right: 0.6rem;
	}
	
	#Intermediate {
		margin-top: 2.25rem;
		height: 40rem;
	}
	
	.Intermediate_div {
		height: 5rem;
		background-color: #FAFAFA;
		box-sizing: border-box;
		padding: 1rem 0;
	}
	
	.Intermediate_div div:nth-child(2) {
		width: 15rem;
	}
	
	.Intermediate_div div:nth-child(1) img {
		height: 3rem;
		width: 3rem;
		margin-left: 1rem;
		border-radius: 50%;
		margin-right: 0.6rem;
		border: 1px solid red;
	}
	
	.Intermediate_div div:nth-child(2) p {
		font-size: 0.8rem;
		color: #000000;
		margin-top: 0.65rem;
	}
	
	.Intermediate_div div:nth-child(2) img {
		width: 0.6rem;
		height: 0.55rem;
	}
	
	.Intermediate_div div:nth-child(2) span {
		font-size: 0.5rem;
		color: #666666;
	}
	
	#Online {
		color: #FC3982;
	}
	
	#icon {
		background: url(../img/images/jinrufu.png) no-repeat;
		width: 0.45rem;
		height: 0.8rem;
		background-size: cover;
		display: inline-block;
		float: right;
		margin-top: -2.1rem;
		margin-right: 0.95rem;
	}
	
	.Intermediate_div1 {
		height: 3rem;
		background-color: white;
	}
	
	.Intermediate_div1 ul {
		display: flex;
		justify-content: space-around;
		text-align: center;
	}
	
	.Intermediate_div1 ul li strong {
		font-size: 0.8rem;
		display: block;
		padding-top: 0.6rem;
	}
	
	.Intermediate_div1 ul li:nth-child(1) strong {
		color: #FF3381;
	}
	
	.Intermediate_div1 ul li:nth-child(2) strong {
		color: #FFB33B;
	}
	
	.Intermediate_div1 ul li:nth-child(3) strong {
		color: #52B7F8;
	}
	
	.Intermediate_div1 ul li span {
		font-size: 0.6rem;
		color: #666666;
		display: block;
		margin:-1px;
		
		font-family: myFirstFont;
	}
	
	.Intermediate_div3 a {
		height: 100%;
		width: 100%;
		display: block;
	}
	
	.Intermediate_div3 {
		height: 2.25rem;
		background-color: white;
		margin-top: 0.4rem;
		border-bottom: 1px solid #EEEEEE;
		line-height: 2.25rem;
	}
	
	.Intermediate_div3 .left {
		background: url(../img/images/wode_dingdan.png) no-repeat 0.7rem 0.7rem;
		height: 2.25rem;
		background-size: 0.7rem 0.9rem;
		width: 5rem;
		display: block;
		font-size: 0.7rem;
		color: #000000;
		text-indent: 2.1rem;
	}
	
	.Intermediate_div3 img {
		height: 0.8rem;
		width: 0.45rem;
		margin-top: 0.8rem;
		margin-right: 0.95rem;
	}
	
	.Intermediate_div3 span:nth-child(2) {
		position: absolute;
		color: #666666;
		font-size: 0.55rem;
		margin-right: 1.85rem;
		right: 0;
	}
	
	.Intermediate_div4 {
		margin-top: 0.4rem;
	}
	
	.Intermediate_div4 span.left {
		text-indent: 2.1rem;
	}
	
	.Intermediate_div4 span.right {
		background: url(../img/images/jinrufu.png) no-repeat;
		height: 0.8rem;
		width: 0.45rem;
		background-size: cover;
		margin-right: 0.95rem;
		margin-top: 0.75rem;
	}
	
	.Intermediate_div4 ul li {
		height: 2.25rem;
		background-color: white;
		line-height: 2.25rem;
	}
	
	.Intermediate_div4 ul li a {
		font-size: 0.7rem;
		color: #000000;
		display: block;
		width: 100%;
		height: 100%;
	}
	
	.Intermediate_div4 ul li:nth-child(1) {
		border-bottom: 1px solid #EEEEEE;
	}
	
	.Intermediate_div4 ul li p {
		height: 0.45rem;
		line-height: 0.45rem;
		position: absolute;
		right: 0;
		margin: 0.9rem 1.85rem;
		width: 8rem;
		text-align: right;
		color: #666666;
		font-size: 0.55rem;
	}
	
	.Intermediate_div4 ul li:nth-child(7) p {
		color: #FC3982;
	}
	
	.Intermediate_div4 ul li:nth-child(1) .left {
		background: url(../img/images/wode_huokuan.png) no-repeat 0.7rem 0.6rem;
		background-size: 0.9rem 0.9rem;
	}
	
	.Intermediate_div4 ul li:nth-child(2) .left {
		background: url(../img/images/wode_shoukuanfangshi.png) no-repeat 0.7rem 0.65rem;
		background-size: 0.9rem 0.9rem;
	}
	
	.Intermediate_div4 ul li:nth-child(3) .left {
		background: url(../img/images/wode_guanlihuojia.png) no-repeat 0.55rem 0.7rem;
		background-size: 1.05rem 0.9rem;
	}
	
	.Intermediate_div4 ul li:nth-child(4) .left {
		background: url(../img/images/wode_qiangdan.png) no-repeat 0.65rem 0.7rem;
		background-size: 0.85rem 0.9rem;
	}
	
	.Intermediate_div4 ul li:nth-child(5) .left {
		background: url(../img/images/wode_bangdianbao.png) no-repeat 0.65rem 0.7rem;
		background-size: 0.9rem 0.9rem;
	}
	
	.Intermediate_div4 ul li:nth-child(6) .left {
		background: url(../img/images/wode_huiyuan.png) no-repeat 0.7rem 0.65rem;
		background-size: 0.85rem 0.9rem;
	}
	
	.Intermediate_div4 ul li:nth-child(7) .left {
		background: url(../img/images/wode_kefu.png) no-repeat 0.65rem 0.65rem;
		background-size: 0.8rem 0.95rem;
	}
	
	.Intermediate_div4 ul li:nth-child(4) {
		border-bottom: 1px solid #EEEEEE;
	}
	
	.Intermediate_div4 ul li:nth-child(3) {
		border-bottom: 1px solid #EEEEEE;
		margin-top: 0.4rem;
	}
	
	.Intermediate_div4 ul li:nth-child(6) {
		border-bottom: 1px solid #EEEEEE;
		margin-top: 0.4rem;
	}
	
	#Intermediate div:nth-child(4) {
		display: flex;
		justify-content: space-around;
		background-color: white;
		height: 4.15rem;
	}
	
	#Intermediate div:nth-child(4) div img {
		height: 1.05rem;
		width: 1.05rem;
		display: block;
		margin: 0 auto;
		margin-top: 1.05rem;
	}
	
	#Intermediate div:nth-child(4) div span {
		font-size: 0.5rem;
		color: #666666;
		margin-top: 0.5rem;
		display: block;
	}
	
	#Footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: white;
		height: 2.45rem;
		border-top: 0.05rem solid #EEEEEE;
	}
	
	#Footer ul {
		display: flex;
		justify-content: space-around;
		color: #999999;
	}
	
	#Footer ul li {
		font-size: 0.55rem;
		padding-top: 0.4rem;
	}
	
	#Footer ul li img {
		display: block;
		height: 1.15rem;
		width: 1.15rem;
		margin: 0 auto;
	}
	
	#Footer ul li a {
		color: #999999;
	}
	
	#Footer ul li span {
		display: block;
		margin-top: 0.15rem;
	}
	
	#Footer ul li:nth-child(5) span {
		color: #FF3381;
	}
	
	#Footer ul li:nth-child(2) img {
		height: 1.15rem;
		width: 0.95rem;
	}
	
	#Footer ul li:nth-child(3) img {
		height: 1.2rem;
		width: 1.2rem;
	}
	
	#Footer ul li:nth-child(5) img {
		height: 1.15rem;
		width: 0.95rem;
	}
	/*-------------母婴设置-----------------*/
	
	#Unite_Header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 2;
		font-size: 0.9rem;
	}
	
	.Setup {
		height: 2.25rem;
		background-color: white;
		text-align: center;
		line-height: 2.25rem;
		padding-right: 1.2rem;
		border-bottom: 0.05rem solid #EEEEEE;
		font-size: 0.8rem;
	}
	
	.Setup a {
		background: url(../img/images/fanhui.png) no-repeat;
		height: 1.1rem;
		width: 0.6rem;
		background-size: 0.6rem 1.1rem;
		display: inline-block;
		margin: 0.6rem 0.6rem 0 0.6rem;
	}
	
	.Unite div {
		height: 2.25rem;
		background-color: white;
		line-height: 2.25rem;
		border-bottom: 1px solid #EEEEEE;
		font-size: 0.7rem;
	}
	
	.Unite div a {
		width: 100%;
		height: 100%;
		display: block;
		color: #000000;
	}
	
	.Unite div .left {
		text-indent: 0.65rem;
	}
	
	.Unite div .right {
		background: url(../img/images/jinrufu.png) no-repeat;
		background-size: 0.45rem 0.8rem;
		width: 0.45rem;
		height: 0.8rem;
		margin-right: 0.75rem;
		margin-top: 0.75rem;
	}
	
	.Unite_login {
		margin: auto;
		width: 84%;
		background-color: #FF3381;
		text-align: center;
		height: 2.2rem;
		line-height: 2.2rem;
		color: white;
		border-radius: 0.5rem;
		margin-top: 1rem;
	}
	/*------------------密码设置------------------------*/
	
	.password {
		margin: 1rem 0;
	}
	
	.password div {
		height: 2.25rem;
		border: 0.5px solid #EEEEEE;
		background-color: white;
	}
	
	.password div .left {
		line-height: 2.25rem;
		font-size: 0.7rem;
		color: #000000;
		text-indent: 0.65rem;
	}
	
	.password div .right {
		background: url(../img/images/jinrufu.png) no-repeat;
		background-size: 0.45rem 0.8rem;
		width: 0.45rem;
		height: 0.8rem;
		margin-right: 0.75rem;
		margin-top: 0.75rem;
	}
	/*----------------母婴我的资料-------------------------------------*/
	
	.select-wd {
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
	
	.Profile {
		margin-top: 2.25rem;
		height: 41.4rem;
	}
	
	.Profile_div {
		height: 3.2rem;
		line-height: 3.1rem;
		background-color: white;
		border-bottom: 1px solid #EEEEEE;
	}
	
	.Profile_div .left {
		font-size: 0.7rem;
		color: #000000;
		text-indent: 0.65rem;
	}
	
	.Profile_div img {
		height: 2.3rem;
		width: 2.3rem;
		border-radius: 50%;
		position: absolute;
		right: 0;
		margin-top: 0.45rem;
		margin-right: 1.95rem;
	}
	
	.Profile_div .Left_span {
		font-size: 0.6rem;
		color: #999999;
		margin-left: 0.25rem;
	}
	
	.Profile_div1 div {
		height: 2.25rem;
		background-color: white;
		line-height: 2.24rem;
		text-indent: 0.65rem;
		border-bottom: 1px solid #EEEEEE;
	}
	
	.Profile_div1 div:nth-child(2) p {
		display: inline-block;
		position: absolute;
		right: 0;
		color: #666666;
		font-size: 0.6rem;
		margin-right: 1.95rem;
	}
	
	.Profile_div1 div:nth-child(5) p {
		display: inline-block;
		position: absolute;
		right: 0;
		color: #666666;
		font-size: 0.6rem;
		margin-right: 1.95rem;
	}
	
	.Profile_div1 a {
		height: 100%;
		width: 100%;
		display: block;
	}
	
	.Profile_div1 div .Left_span {
		font-size: 0.6rem;
		color: #999999;
		margin-left: 0.25rem;
	}
	
	.Profile_div1 div .left {
		font-size: 0.7rem;
		color: #000000;
	}
	
	.Profile_div1 div .right {
		background: url(../img/images/jinrufu.png) no-repeat;
		background-size: 0.45rem 0.8rem;
		width: 0.45rem;
		height: 0.8rem;
		margin-right: 0.75rem;
		margin-top: 0.75rem;
		display: inline-block;
	}
	
	.Profile_div .right {
		background: url(../img/images/jinrufu.png) no-repeat;
		background-size: 0.45rem 0.8rem;
		width: 0.45rem;
		height: 0.8rem;
		margin-right: 0.75rem;
		margin-top: 1.25rem;
		display: inline-block;
	}
	
	.Profile_div2 .right {
		background: url(../img/images/jinrufu.png) no-repeat;
		background-size: 0.45rem 0.8rem;
		width: 0.45rem;
		height: 0.8rem;
		margin-right: 0.75rem;
		margin-top: 1.25rem;
		display: inline-block;
	}
	
	.Profile_div2 {
		height: 3.2rem;
		line-height: 3.2rem;
		background-color: white;
		border-bottom: 1px solid #EEEEEE;
		margin-top: 0.4rem;
	}
	
	.Profile_div2 div {
		display: inline-block;
		height: 2.7rem;
		width: 2.74rem;
		position: absolute;
		right: 0;
		margin-right: 1.8rem;
		margin-top: 0.2rem;
		background: url(../img/images/ytw_xuanzetupian.png) no-repeat;
		background-size: cover;
	}
	
	.Profile_div2 div img {
		position: absolute;
		top: 0;
		right: 0;
	}
	
	.Profile_div2 .left {
		font-size: 0.7rem;
		color: #000000;
		text-indent: 0.65rem;
	}
	
	.Profile_div2 .Left_span {
		font-size: 0.6rem;
		color: #999999;
		margin-left: 0.25rem;
	}
	
	.Profile_div1 div:nth-child(4) {
		margin-top: 0.4rem;
	}
	
	.Profile_div1 div:nth-child(6) {
		margin-top: 0.4rem;
	}
	
	.Profile_div1 input {
		position: absolute;
		right: 0;
		margin-right: 1.8rem;
		margin-top: 0.80rem;
		border: none;
		text-align: right;
		font-size: 0.6rem;
		color: #666666;
		line-height: 0.7rem;
		height: 0.7rem;
		width: 58%;
	}
	
	.Profile_div3 {
		height: 4.7rem;
		border: 1px solid #EEEEEE;
		background-color: white;
	}
	
	.Profile_div3_d {
		height: 1.5rem;
		line-height: 1.4rem;
	}
	
	.Profile_div3 .left {
		font-size: 0.7rem;
		color: #000000;
		text-indent: 0.65rem;
	}
	
	.Profile_div3 .Left_span {
		font-size: 0.6rem;
		color: #999999;
		margin-left: 0.25rem;
	}
	
	.Profile_div3_d1 {
		display: flex;
		justify-content: space-around;
		height: 3.2rem;
	}
	
	.Profile_div3_d1 div {
		height: 2.7rem;
		width: 2.7rem;
		background: url(../img/images/ytw_xuanzetupian.png) no-repeat;
		background-size: cover;
	}
	
	.Profile_div3_d1 div img {
		height: 1rem;
		width: 1rem;
	}
	
	.Profile_div4 {
		height: 6.2rem;
		background-color: white;
	}
	
	.Profile_div4 textarea {
		height: 4.5rem;
		width: 100%;
		border: none;
		font-size: 0.7rem;
		line-height: 1.5rem;
	}
	
	.Profile_div4_d1 {
		height: 4.7rem;
		border: 1px solid #999999;
	}
	
	.Profile_div4_d2 {
		height: 1.5rem;
		line-height: 1.5rem;
		font-size: 0.6rem;
		color: #999999;
		text-indent: 0.65rem;
	}
	
	.Profile_div5 {
		height: 2.25rem;
		margin: 1.2rem auto;
		border-radius: 0.5rem;
		background-color: #FF3381;
		width: 84%;
		line-height: 2.25rem;
		text-align: center;
	}
	
	.Profile_div5 a {
		color: white;
		display: block;
	}
	/*-------选择银行卡-  公用头部-------*/
	
	#Unite_Header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
	}
	
	.Select {
		height: 2.25rem;
		background-color: white;
		text-align: center;
		line-height: 2.25rem;
		border-bottom: 0.05rem solid #EEEEEE;
		font-size: 0.8rem;
	}
	
	.Select .left {
		background: url(../img/images/fanhui.png) no-repeat;
		height: 1.1rem;
		width: 0.6rem;
		background-size: 0.6rem 1.1rem;
		display: inline-block;
		margin-top: 0.6rem;
		margin-left: 0.6rem;
	}
	
	.Select .right {
		background: url(../img/images/tianjia.png) no-repeat;
		height: 1rem;
		width: 1rem;
		background-size: 1rem 1rem;
		margin-top: 0.6rem;
		margin-right: 0.7rem;
	}
	/*-------------添加银行卡-------------------*/
	
	.Card div:nth-child(1) {
		height: 2rem;
		line-height: 2rem;
		font-size: 0.6rem;
		text-indent: 0.8rem;
	}
	
	.Card1 div {
		height: 2.3rem;
		line-height: 2.3rem;
		background: white;
	}
	
	.Card1 div p span:nth-child(1) {
		font-size: 0.8rem;
		margin-left: -2px
	}
	
	.Card1 div p {
		margin: auto;
		width: 90%;
		border-bottom: 1px solid #EEEEEE;
		height: 2.25rem;
	}
	
	.Card1 div p input {
		height: 1.15rem;
		font-size: 0.7rem;
		color: #999999;
		border: none;
		width: 60%;
	}
	
	.card_input {
		margin-left: 1.65rem;
	}
	
	.card_input1 {
		margin-left: 2.45rem;
	}
	
	.card_span {
		margin-left: 2.45rem;
		font-size: 0.7rem;
		color: #999999;
	}
	
	.card_span1 {
		margin-left: 0.85rem;
		font-size: 0.7rem;
		color: #999999;
	}
	
	.card_span2 {
		margin-left: 1.65rem;
		font-size: 0.7rem;
		color: #999999;
	}
	
	.Card2 {
		height: 2.2rem;
		width: 84%;
		margin: auto;
		background: #c8c8c8;
		border-radius: 0.5rem;
		margin-top: 1.25rem;
		text-align: center;
		line-height: 2.2rem;
		font-size: 0.85rem;
		color: white;
	}
	
	.Card3 {
		height: 2.2rem;
		width: 84%;
		margin: auto;
		background: #FF3381;
		border-radius: 0.5rem;
		margin-top: 0.6rem;
		text-align: center;
		line-height: 2.2rem;
		font-size: 0.85rem;
	}
	
	.Card3 a {
		color: white;
		display: block;
	}
	/*------填写银行卡信息-------------*/
	
	.card_information div {
		height: 2.25rem;
		background-color: white;
		line-height: 2.25rem;
		text-indent: 0.85rem;
	}
	
	.card_information div:nth-child(1) {
		margin-top: 0.85rem;
		font-size: 0.8rem;
	}
	
	.card_information div:nth-child(2) {
		margin-top: 0.65rem;
		font-size: 0.8rem;
	}
	
	.information_span {
		margin-left: 1.6rem;
		font-size: 0.7rem;
		color: #999999;
	}
	
	.card_information div input {
		border: none;
		margin-left: 1.6rem;
		font-size: 0.7rem;
		color: #999999;
	}
	
	.card_information p {
		margin-top: 0.8rem;
		margin-left: 0.85rem;
	}
	
	.card_information p span {
		font-size: 0.7rem;
	}
	
	.card_information p span:nth-child(2) {
		color: #FF3381;
	}
	
	.Xyibu {
		height: 10rem;
		margin-top: 1rem;
	}
	
	.Xyibu P {
		font-size: 0.6rem;
		color: #999999;
		margin-top: 1rem;
		text-align: center;
	}
	
	.Xyibu1 {
		height: 2.25rem;
		margin: auto;
		line-height: 2.25rem;
		border-radius: 0.5rem;
		color: white;
		text-align: center;
		width: 84%;
		background: #c8c8c8;
	}
	
	.Xyibu2 {
		height: 2.25rem;
		margin: 5.15rem auto;
		line-height: 2.25rem;
		border-radius: 0.5rem;
		color: white;
		text-align: center;
		width: 84%;
		background: #FF3381;
	}
	
	.Xyibu2 a {
		color: white;
		display: block;
	}
	/*-------------------完成页面-----------------*/
	
	.Wancheng span {
		margin-top: 0.6rem;
		color: red;
		font-size: 0.7rem;
	}
	
	.Wancheng {
		height: 2.25rem;
		background-color: white;
		text-align: center;
		line-height: 2.25rem;
		padding: 0 0.6rem;
		border-bottom: 0.05rem solid #EEEEEE;
	}
	
	.Wancheng .left {
		background: url(../img/images/fanhui.png) no-repeat;
		height: 1.1rem;
		width: 0.6rem;
		background-size: 0.6rem 1.1rem;
		display: inline-block;
		margin-top: 0.6rem;
	}
	
	.Wancheng1 {
		height: 8.65rem;
		background-color: white;
	}
	
	.Wancheng1 div {
		width: 3.85rem;
		height: 3.85rem;
		margin: auto;
	}
	
	.Wancheng1 img {
		width: 3.85rem;
		height: 3.85rem;
		border-radius: 50%;
		margin-top: 1.65rem;
	}
	
	.Wancheng1 p {
		font-size: 1.2rem;
		color: #FF3381;
		margin-top: 2rem;
		text-align: center;
		width: 100%;
	}
	/*-------------手机验证----------------------------*/
	
	.verification p {
		width: 88%;
		font-size: 0.75rem;
		color: #999999;
		margin: 0.8rem auto;
	}
	
	.verification_s {
		height: 2.25rem;
	}
	
	.verification_s div:nth-child(2) {
		width: 5.95rem;
		text-align: center;
		font-size: 0.8rem;
		color: white;
		line-height: 2.2rem;
		background: #c8c8c8;
		border-radius: 0.2rem;
		margin-right: 0.6rem;
	}
	
	.verification_s div:nth-child(1) {
		display: inline-block;
		width: 11rem;
		height: 2.2rem;
		background: white;
		border-radius: 0.2rem;
		margin-left: 0.6rem;
	}
	
	.verification_s div:nth-child(1) input {
		font-size: 16px;
		border: none;
		height: 1rem;
		color: #c8c8c8;
		margin: 0.75rem 0.85rem;
		width: 80%;
	}
	
	.verification_s div:nth-child(3) {
		height: 2.2rem;
		margin: 1.2rem auto;
		width: 84%;
		text-align: center;
		line-height: 2.2rem;
		border-radius: 0.5rem;
		background-color: #c8c8c8;
		color: white;
	}
	
	.verification_s div:nth-child(4) {
		margin-top: 7.85rem;
	}
	
	.verification_s div:nth-child(4) span {
		color: #FF3381;
		font-size: 0.6rem;
		margin-left: 35%;
		margin-top: 0.2rem;
		display: inline-block;
		height: 2.2rem;
		line-height: 2.9rem;
	}
	
	.verification_s div:nth-child(4) div {
		width: 5.95rem;
		text-align: center;
		font-size: 0.8rem;
		color: white;
		line-height: 2.2rem;
		background: #FF3381;
		border-radius: 0.2rem;
		margin-right: 0.6rem;
	}
	
	.verification_s div:nth-child(5) {
		height: 2.2rem;
		margin: 1.2rem auto;
		width: 84%;
		text-align: center;
		line-height: 2.2rem;
		border-radius: 0.5rem;
		background-color: #FF3381;
		color: white;
	}
	/*--------------------贷款详情---------------------*/
	
	.Loan {
		height: 9.55rem;
		background: #FF3381;
		padding-top: 1rem;
		box-sizing: border-box;
	}
	
	.Loan p {
		text-align: center;
		color: white;
		width: 100%;
	}
	
	.Loan p:nth-child(1) {
		font-size: 0.8rem;
	}
	
	.Loan p:nth-child(2) {
		font-size: 1.4rem;
		margin-top: 1.2rem;
		text-indent: 1.2rem
	}
	
	.Loan p:nth-child(2) span {
		background: url(../img/images/jinrufu.png) no-repeat;
		height: 0.8rem;
		width: 0.45rem;
		background-size: 0.45rem 0.8rem;
		display: inline-block;
		margin-right: 0.8rem;
		margin-top: 0.925rem;
	}
	
	.Loan div {
		width: 10rem;
		height: 2.05rem;
		color: #FF3381;
		font-size: 0.85rem;
		margin: auto;
		text-align: center;
		background-color: white;
		line-height: 2.05rem;
		border-radius: 0.5rem;
		margin-top: 1.3rem
	}
	
	.Loan1 div {
		height: 2.25rem;
		background-color: white;
		border-bottom: 1px solid #EEEEEE;
	}
	
	.Loan1 div .left {
		text-indent: 0.65rem;
		line-height: 2.25rem;
		font-size: 0.7rem;
	}
	
	.Loan1 div .right {
		background: url(../img/images/jinrufu.png) no-repeat;
		height: 0.8rem;
		width: 0.45rem;
		background-size: 0.45rem 0.8rem;
		margin-right: 0.8rem;
		margin-top: 0.75rem
	}
	
	.Loan1 p {
		display: inline-block;
		position: absolute;
		right: 0;
		margin-right: 1.85rem;
		font-size: 0.7rem;
		height: 2.25rem;
		line-height: 2.25rem;
		color: #FF3381;
	}
	
	.Loan1 div a {
		display: block;
		color: #000000;
		width: 100%;
		height: 100%;
	}
	/*--------------总销售---------------------*/
	
	.Sales {
		margin-top: 2.25rem;
	}
	
	.Sales_div {
		height: 1.8rem;
		line-height: 1.8rem;
		text-indent: 0.65rem;
		font-size: 0.6rem;
		color: #222222;
	}
	
	.Sales_div1 {
		height: 3.55rem;
		background-color: white;
	}
	
	.Sales_div1 img {
		height: 1.8rem;
		width: 1.8rem;
		margin-top: 0.9rem;
		margin-right: 1.25rem;
		float: left;
	}
	
	.Sales_div1 .left {
		padding-top: 0.9rem;
	}
	
	.Sales_div1 .left p {
		margin-left: 0.65rem;
		margin-right: 1.2rem;
	}
	
	.Sales_div1 .left p:nth-child(1) {
		font-size: 0.8rem;
		color: #999999;
	}
	
	.Sales_div1 .left p:nth-child(2) {
		font-size: 0.6rem;
		color: #999999;
	}
	
	.left-t {
		float: left;
	}
	
	.left-t p:nth-child(1) {
		color: #FF2C80;
		font-size: 0.9rem;
		margin-top: 0.75rem;
	}
	
	.left-t p:nth-child(2) {
		color: #222222;
		font-size: 0.7rem;
	}
	/*--------------进行中-------------------------------*/
	
	.Geton {
		margin-top: 2.25rem;
	}
	
	.Geton_div1 {
		height: 3.55rem;
		background-color: white;
	}
	
	.Geton_div1 img {
		height: 1.8rem;
		width: 1.8rem;
		margin-top: 0.9rem;
		margin-right: 1.25rem;
		float: left;
	}
	
	.Geton_div1 .left {
		padding-top: 0.9rem;
	}
	
	.Geton_div1 .left p {
		margin-left: 0.65rem;
		margin-right: 1.2rem;
	}
	
	.Geton_div1 .left p:nth-child(1) {
		font-size: 0.8rem;
		color: #999999;
	}
	
	.Geton_div1 .left p:nth-child(2) {
		font-size: 0.6rem;
		color: #999999;
	}
	
	.left-d {
		float: left;
	}
	
	.left-d p:nth-child(1) {
		color: #FF2C80;
		font-size: 0.9rem;
		margin-top: 0.75rem;
	}
	
	.left-d p:nth-child(2) {
		color: #222222;
		font-size: 0.7rem;
	}
	
	#Geton_footer {
		margin: 1.5rem 0;
	}
	
	#Geton_footer div {
		color: #000000;
		font-size: 0.65rem;
	}
	
	#Geton_footer div p {
		width: 89%;
		margin: auto;
	}
	
	#Geton_footer div p:nth-child(2) {
		margin-top: 1rem;
	}
	/*--------------累计可提现-------------------*/
	
	.Grandtotal {
		margin-top: 2.25rem;
	}
	
	.Grandtotal_div1 {
		height: 3.55rem;
		background-color: white;
	}
	
	.Grandtotal_div1 img {
		height: 1.8rem;
		width: 1.8rem;
		margin-top: 0.9rem;
		margin-right: 1.25rem;
		float: left;
	}
	
	.Grandtotal_div1 .left {
		padding-top: 0.9rem;
	}
	
	.Grandtotal_div1 .left p {
		margin-left: 0.65rem;
		margin-right: 1.2rem;
	}
	
	.Grandtotal_div1 .left p:nth-child(1) {
		font-size: 0.8rem;
		color: #999999;
	}
	
	.Grandtotal_div1 .left p:nth-child(2) {
		font-size: 0.6rem;
		color: #999999;
	}
	
	.left-f {
		float: left;
	}
	
	.left-f p:nth-child(1) {
		color: #FF2C80;
		font-size: 0.9rem;
		margin-top: 0.75rem;
	}
	
	.left-f p:nth-child(2) {
		color: #222222;
		font-size: 0.7rem;
	}
	/*-----------帮店宝-----------------------*/
	
	.Baby {
		margin-top: 2.25rem;
	}
	
	.Baby_footer {
		height: 2.5rem;
		position: fixed;
		bottom: 0;
		width: 100%;
	}
	
	.Baby_footer div {
		height: 1.6rem;
		margin: auto;
		width: 84%;
		border-radius: 0.5rem;
		text-align: center;
		line-height: 1.6rem;
		background-color: #FF3381;
		color: white;
		margin-top: 0.5rem;
	}
	/*-----------------会员管理----------------*/
	
	.Member {
		height: 2rem;
		width: 100%;
	}
	
	.Member input {
		font-size: 0.6rem;
		border: none;
		background: white;
		width: 93.6%;
		text-align: center;
		height: 1.45rem;
		border-radius: 0.2rem;
		margin: 0.3rem 0.6rem;
	}
	
	.Member1 {
		margin-top: 4.25rem;
	}
	
	.Member1 a {
		display: block;
		width: 100%;
		height: 100%;
	}
	
	.Member_div {
		background-color: white;
		height: 5.05rem;
		border-bottom: 1px solid #eeeeee;
	}
	
	.Member_div img {
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		margin-left: 1rem;
		margin-right: 0.6rem;
		margin-top: 1rem;
	}
	
	.Member_div div p:nth-child(1) {
		color: #000000;
		font-size: 0.7rem;
		margin-top: 1.4rem;
		height: 0.8rem;
	}
	
	.Member_div div p:nth-child(2) {
		color: #999999;
		font-size: 0.6rem;
		height: 0.6rem;
		margin-top: 0.5rem;
	}
	
	.Member_div div p:nth-child(3) {
		color: #999999;
		font-size: 0.6rem;
		height: 0.6rem;
		margin-top: 0.4rem;
	}
	
	.Member_span {
		background: url(../img/images/jinrufu.png) no-repeat;
		height: 0.8rem;
		width: 0.45rem;
		background-size: 0.45rem 0.8rem;
		margin-right: 0.75rem;
		margin-top: 2.1rem;
	}
	/*-------------客户详情----------------*/
	
	.Client {
		margin-top: 2.25rem;
	}
	
	.Client_div {
		background-color: white;
		width: 100%;
		height: 5.05rem;
	}
	
	.Client_div img {
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		margin-left: 1rem;
		margin-top: 1rem;
		margin-right: 0.6rem;
	}
	
	.Client_div div {
		margin-top: 1rem;
	}
	
	.Client_div div p:nth-child(1) {
		color: #000000;
		font-size: 0.8rem;
		height: 0.8rem;
		line-height: 0.8rem;
	}
	
	.Client_div div p:nth-child(2) {
		color: #999999;
		font-size: 0.6rem;
		margin-top: 0.5rem;
	}
	
	.Client_div1 {
		margin-top: 0.5rem;
	}
	
	.Client_div1 ul li {
		height: 1.75rem;
		background-color: white;
		line-height: 1.75rem;
	}
	
	.Client_div1 ul span {
		color: #999999;
		font-size: 0.7rem;
		margin-left: 0.65rem;
	}
	
	.Client_div1 ul p {
		display: inline-block;
		font-size: 0.7rem;
	}
	
	.Client_div1 ul li:nth-child(3) {
		margin-top: 0.5rem
	}
	
	.Client_div2 div:nth-child(1) {
		background: #FF3381;
		width: 80%;
		line-height: 2rem;
		height: 2rem;
		font-size: 0.75rem;
		color: white;
		text-align: center;
		margin: auto;
		margin-top: 1.2rem;
		border-radius: 1rem;
	}
	
	.Client_div2 div:nth-child(2) {
		background: white;
		width: 80%;
		line-height: 2rem;
		height: 2rem;
		font-size: 0.75rem;
		color: #999999;
		text-align: center;
		margin: auto;
		margin-top: 12px;
		border-radius: 1rem;
	}
	/*------------添加新品-------------------*/
	
	.Newproduct div {
		height: 2.5rem;
		background: white;
		border-bottom: 0.05rem solid #EEEEEE;
		line-height: 2.5rem;
		font-size: 0.7rem;
		color: #666666;
		text-indent: 0.65rem;
	}
	
	.Newproduct div .right {
		background: url(../img/images/jinrufu.png) no-repeat;
		height: 0.8rem;
		width: 0.45rem;
		background-size: 0.45rem 0.8rem;
		display: inline-block;
		margin-right: 0.85rem;
		margin-top: 0.85rem
	}
	
	.Newproduct div p {
		display: inline-block;
		font-size: 0.7rem;
		color: #A2A7AA;
	}
	
	.Newproduct div:nth-child(4) {
		margin: 0.4rem 0
	}
	
	.Newproduct div input {
		font-size: 0.7rem;
		margin-left: 0.7rem;
		border: none;
		margin-top: -0.2rem;
	}
	
	.Newproduct1 {
		height: 8.55rem;
		background-color: white;
	}
	
	.Newproduct1 div:nth-child(1) {
		height: 2.55rem;
	}
	
	.Newproduct1 div:nth-child(2) {
		height: 6rem;
	}
	
	.Newproduct1 div:nth-child(2) div {
		height: 5.05rem;
		width: 5.05rem;
		background: url(../img/images/ytw_xuanzetupian.png) no-repeat;
		background-size: cover;
		margin: 0 0.6rem;
		display: inline-block;
	}
	
	.Newproduct1 span {
		margin-left: 0.7rem;
		line-height: 2.55rem;
		font-size: 0.7rem;
		color: #666666;
	}
	
	.Newproduct2 {
		margin-top: 0.4rem;
	}
	
	.Newproduct2 div {
		height: 2.5rem;
		background: white;
		border-bottom: 0.05rem solid #EEEEEE;
		line-height: 2.5rem;
		font-size: 0.7rem;
		color: #666666;
		text-indent: 0.65rem;
	}
	
	.Newproduct2 div:nth-child(1) input {
		font-size: 0.7rem;
		margin-left: 0.7rem;
		border: none;
		margin-top: -0.2rem;
	}
	
	.Newproduct2 div:nth-child(2) input {
		font-size: 0.7rem;
		margin-left: 0.3rem;
		border: none;
		margin-top: -0.2rem;
	}
	
	.Newproduct3 {
		height: 2rem;
		width: 9.5rem;
		margin: auto;
		color: white;
		background-color: #FF3381;
		text-align: center;
		line-height: 2rem;
		border-radius: 1rem;
		margin-top: 1.4rem;
	}
	/*----------------------管理货架--------------------*/
	
	.Shelf {
		height: 2rem;
		border: 1px solid red;
	}
	
	.Shelf_section {
		margin-top: 4.4rem;
	}
	
	.Shelf_div {
		background: white;
		height: 5.5rem;
	}
	
	.img1 {
		width: 0.9rem;
		height: 0.9rem;
		margin-left: 0.8rem;
		margin-right: 0.7rem;
	}
	
	.img2 {
		height: 4.7rem;
		width: 4.7rem;
		margin-top: 0.4rem;
		margin-right: 0.55rem;
		border: 1px solid #C8C8C8;
	}
	
	.naifen1 p {
		width: 10.2rem;
	}
	
	.naifen1 p:nth-child(1) {
		font-size: 0.65rem;
		margin-top: 0.75rem;
		height: 0.75rem;
	}
	
	.naifen1 p:nth-child(2) {
		margin-top: 1.05rem;
		height: 0.6rem;
	}
	
	.naifen1 p:nth-child(3) {
		margin-top: 0.4rem;
	}
	
	.naifen_span1 {
		font-size: 0.8rem;
		color: #FF3381;
	}
	
	.naifen_span {
		font-size: 0.5rem;
		color: #999999;
	}
	
	.naifen_span2 {
		font-size: 0.6rem;
		color: #666666;
	}
	
	.Shelf_div1 {
		height: 2.05rem;
		background-color: #FAFAFA;
		display: flex;
		justify-content: space-around;
		text-align: center;
	}
	
	.Shelf_div1 p {
		color: #F41F47;
		font-size: 0.7rem;
	}
	
	.Shelf_div1 div {
		width: 25%;
		text-align: center;
		border-right: 1px solid #999999;
		height: 0.95rem;
		margin-top: 0.475rem;
	}
	
	.Shelf_div1 div:nth-child(4) {
		border: none;
	}
	
	.Shelf_footer {
		border-top: 1px solid #EEEEEE;
		height: 2.5rem;
		position: fixed;
		bottom: 0;
		width: 100%;
		box-sizing: border-box;
		background-color: white;
	}
	
	.Shelf_footer ul {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	
	.Shelf_footer ul li {
		width: 25%;
		text-align: center;
	}
	
	.Shelf_footer ul li:nth-child(1) img {
		height: 0.9rem;
		width: 1.1rem;
		display: block;
		margin: auto;
		margin-top: 0.5rem;
	}
	
	.Shelf_footer ul li:nth-child(2) img {
		height: 1.15rem;
		width: 1.05rem;
		display: block;
		margin: auto;
		margin-top: 0.4rem;
	}
	
	.Shelf_footer ul li:nth-child(3) img {
		height: 1.15rem;
		width: 1.05rem;
		display: block;
		margin: auto;
		margin-top: 0.4rem;
	}
	
	.Shelf_footer ul li span {
		color: #999999;
		font-size: 0.55rem;
	}
	
	.Shelf_footer ul li:nth-child(2) span {
		display: block;
		margin-top: 0.05rem;
	}
	
	.Shelf_footer ul li:nth-child(3) span {
		display: block;
		margin-top: 0.05rem;
	}
	
	.Shelf_footer ul li:nth-child(1) span {
		color: #FF3381;
		display: block;
		margin-top: 0.2rem;
	}
	
	.Shelf_footer ul li:nth-child(4) {
		background-color: #FF3381;
		color: white;
		font-size: 1.1rem;
		line-height: 2.5rem;
	}
	/*--------------添加商品---------------------------*/
	
	.Addto_section {
		margin-top: 2.25rem;
	}
	
	.Addto_div {
		background: white;
		height: 5.5rem;
	}
	
	.img3 {
		width: 0.9rem;
		height: 0.9rem;
		margin-left: 0.8rem;
		margin-right: 0.7rem;
	}
	
	.img4 {
		height: 4.7rem;
		width: 4.7rem;
		margin-top: 0.4rem;
		margin-right: 0.55rem;
		border: 1px solid #C8C8C8;
	}
	
	.naifen2 p {
		width: 10.2rem;
	}
	
	.naifen2 p:nth-child(1) {
		font-size: 0.65rem;
		margin-top: 0.75rem;
		height: 0.75rem;
	}
	
	.naifen2 p:nth-child(2) {
		margin-top: 1.05rem;
		height: 0.6rem;
	}
	
	.naifen2 p:nth-child(3) {
		margin-top: 0.4rem;
	}
	
	.naifen_span3 {
		font-size: 0.8rem;
		color: #FF3381;
	}
	
	.naifen_span4 {
		font-size: 0.5rem;
		color: #999999;
	}
	
	.naifen_span5 {
		font-size: 0.6rem;
		color: #666666;
	}
	
	.Addto_div1 {
		height: 2.05rem;
		color: white;
		font-size: 0.75rem;
		background-color: #FF3381;
		line-height: 2.05rem;
		width: 50.6%;
		margin: 1rem auto;
		border-radius: 1rem;
		text-align: center;
	}
	/*--------------母婴我的发布------------------*/
	
	.Release {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-top: 2.25rem
	}
	
	.Release div {
		height: 8.7rem;
		width: 8.7rem;
		margin-top: 0.5rem;
		text-align: center;
		background: white;
	}
	
	.Release div a {
		height: 100%;
		width: 100%;
		display: block;
		color: #000000;
	}
	
	.Release div img {
		height: 2.75rem;
		width: 2.75rem;
		display: block;
		margin: 0 auto;
		padding-top: 2rem;
	}
	
	.Release div p span {
		margin-top: 0.8rem;
		display: inline-block;
	}
	
	.Release div p:nth-child(1) {
		height: 6.75rem;
	}
	
	.Release div p:nth-child(2) {
		height: 1.95rem;
		background: #FAFAFA;
		line-height: 1.95rem;
		font-size: 0.6rem;
		color: #222222;
	}
	/*--------------店铺转让发布-------------------*/
	
	.Shop_D {
		padding: 0.65rem 0.6rem 0 0.6rem;
		box-sizing: border-box;
		height: 7.2rem;
		background: white;
		margin-top: 0.6rem;
	}
	
	.Shop_div {
		border-bottom: 1px solid #EEEEEE;
		box-sizing: border-box;
		padding-bottom: 0.6rem;
	}
	
	.Shop div.left {
		height: 4rem;
		width: 9.3rem;
		margin-top: 0.05rem;
	}
	
	.Shop div img {
		height: 3.8rem;
		width: 5rem;
		margin-right: 0.5rem;
	}
	
	.Shop div h3 {
		font-size: 0.8rem;
		height: 0.8rem;
	}
	
	.Shop_div div.left p:nth-child(2) {
		font-size: 0.6rem;
		margin-top: 1.4rem;
		height: 0.6rem;
		color: #999999;
	}
	
	.Shop_div div.left p:nth-child(3) {
		height: 0.6rem;
	}
	
	.Shop_div div.left p:nth-child(3) span {
		font-size: 0.6rem;
		margin-top: 1.4rem;
		color: #999999;
	}
	
	.Shop_div span.right {
		color: #FF3381;
		font-size: 0.6rem;
		margin-top: 2.15rem;
	}
	
	.Sc {
		background: url(../img/images/fabu_shanchu.png) no-repeat;
		height: 0.65rem;
		display: inline-block;
		background-size: 0.65rem 0.7rem;
		font-size: 0.6rem;
		color: #666666;
		margin-top: 0.6rem;
		line-height: 0.65rem;
		padding-left: 0.8rem;
	}
	
	.Xg {
		background: url(../img/images/fabu_bianji.png) no-repeat;
		height: 0.65rem;
		display: inline-block;
		background-size: 0.7rem 0.7rem;
		font-size: 0.6rem;
		color: #666666;
		margin-top: 0.6rem;
		line-height: 0.65rem;
		padding-left: 0.8rem;
		margin-right: 1rem;
	}
	/*---------------帮店宝管理-----------------------*/
	
	.HelpShop div {
		height: 2.25rem;
		background: white;
		border-bottom: 1px solid #EEEEEE;
		line-height: 2.25rem;
	}
	
	.HelpShop div a {
		display: block;
		width: 100%;
		height: 100%;
		color: #000000;
	}
	
	.HelpShop div .left {
		margin-left: 0.65rem;
		font-size: 0.7rem;
	}
	
	.HelpShop div .right {
		display: inline-block;
		background: url(../img/images/jinrufu.png) no-repeat right;
		background-size: 0.45rem 0.8rem;
		width: 8rem;
		height: 2.23rem;
		font-size: 0.6rem;
		color: #666666;
		margin-right: 0.6rem;
		text-align: right;
		padding-right: 1.05rem;
	}
	
	.HelpShop div:nth-child(2) .right {
		color: #FF3381;
	}
	
	.HelpShop div:nth-child(3) {
		margin-top: 0.6rem;
	}
	/*------------------帮店宝订单-------------------*/
	
	.Order {
		height: 2.25rem;
		display: flex;
		justify-content: space-around;
		background: #EEEEEE;
	}
	
	.Order div {
		width: 50%;
		text-align: center;
		line-height: 2.25rem;
		height: 2.25rem;
		font-size: 0.7rem;
	}
	
	.Order1 {
		border-bottom: 2px solid #FF3381;
		color: #FF3381;
	}
	
	.Order_d {
		margin-top: 4.6rem;
	}
	
	.Order_d4 {
		height: 2.55rem;
		background: #FAFAFA;
		line-height: 2.55rem;
	}
	
	.Order_d4 span:nth-child(1) {
		font-size: 0.6rem;
		margin-left: 0.6rem;
	}
	
	.Order_d4 .right {
		color: #999999;
		font-size: 0.6rem;
		margin-right: 0.65rem;
	}
	
	.Order_d1 {
		height: 5.55rem;
		background: white;
		border-bottom: 0.05rem solid #eeeeee;
	}
	
	.Order_d1 img:nth-child(1) {
		position: absolute;
		height: 2.3rem;
		height: 2.3rem;
	}
	
	.Order_d1 img:nth-child(2) {
		height: 4.65rem;
		width: 4.65rem;
		margin-right: 0.65rem;
		border: 0.05rem solid red;
	}
	
	.Order_d1 div.left {
		width: 12.5rem;
		height: 5rem;
	}
	
	.Order_d1 div.left p:nth-child(1) {
		font-size: 0.6rem;
		margin-top: 0.4rem;
		height: 1.45rem;
	}
	
	.Order_d1 div.left p:nth-child(2) {
		font-size: 0.6rem;
		margin-top: 0.45rem;
		color: #666666;
		height: 0.6rem;
	}
	
	.Order_d1 div.left p:nth-child(3) {
		margin-top: 1.55rem;
		height: 0.65rem;
		line-height: 0.65rem;
	}
	
	.Order_p span:nth-child(1) {
		font-size: 0.6rem;
		color: #FF3381;
	}
	
	.Order_p span:nth-child(1) span {
		color: #FF3381;
		font-size: 0.9rem;
	}
	
	.Order_p span:nth-child(2) {
		font-size: 0.5rem;
		color: #999999;
	}
	
	.Order_p span:nth-child(2) span {
		color: #999999;
		font-size: 0.6rem;
	}
	
	.Order_p span.right {
		font-size: 0.6rem;
	}
	
	.Order_p span.right span {
		color: #000000;
		margin-right: 0.3rem;
	}
	
	.Order_d2 {
		height: 2.25rem;
		line-height: 2.25rem;
		padding-left: 0.90rem;
		background: white;
		border-bottom: 1px solid #eeeeee;
	}
	
	.Order_d2 span:nth-child(1) {
		font-size: 0.6rem;
		color: #666666;
	}
	
	.Order_d2 span:nth-child(1) span {
		font-size: 0.9rem;
		color: #000000;
	}
	
	.Order_d2 span:nth-child(2) {
		font-size: 0.6rem;
		color: #666666;
	}
	
	.Order_d2 span:nth-child(3) {
		font-size: 0.7rem;
		color: #000000;
	}
	
	.Order_d2 span:nth-child(3) span {
		font-size: 0.8rem;
		color: #000000;
	}
	
	.Order_d2 span:nth-child(4) {
		font-size: 0.6rem;
		color: #666666;
		padding-right: 0.7rem;
	}
	
	.Order_d2 span:nth-child(4) span {
		font-size: 0.6rem;
		color: #000000;
		padding-left: 0.6rem;
	}
	
	.Order_d3 {
		height: 2.05rem;
		border-bottom: 1px solid #eeeeee;
		background: white;
		justify-content: space-around;
		display: flex;
		font-size: 0.6rem;
		text-align: center;
		margin-bottom: 0.65rem;
	}
	
	.Order_d3 div {
		border: 1px solid #c8c8c8;
		border-radius: 0.7rem;
		height: 1.4rem;
		width: 3.8rem;
		text-align: center;
		line-height: 1.4rem;
		margin-top: 0.35rem;
	}
	
	.Order_d3 div:nth-child(1) {
		border: none;
	}
	
	.Order_d3 div:nth-child(4) {
		color: #FF3381;
	}
	
	.Order_d3 button {
		height: 1.4rem;
		width: 3.8rem;
		text-align: center;
		line-height: 1.4rem;
		border: 1px solid #c8c8c8;
		border-radius: 0.7rem;
		margin-top: 0.35rem;
		background: white;
		right: 0;
		position: absolute;
		margin-right: 0.65rem;
	}
	/*-----------收入详情---------------*/
	
	.IncomeDetails_d {
		text-align: center;
		height: 9.35rem;
		background: white;
		padding-top: 0.6rem;
		border-bottom: 0.05rem solid #EEEEEE;
	}
	
	.IncomeDetails_d_d {}
	
	.IncomeDetails_d_d img {
		height: 1.45rem;
		width: 1.45rem;
		margin-left: 10px;
		padding-right: 10px;
	}
	
	.IncomeDetails_d_d span {
		font-size: 0.8rem;
	}
	
	.IncomeDetails_d_d div:nth-child(3) {
		margin-top: 1.4rem;
		font-size: 1.6rem;
		height: 1.2rem;
		line-height: 1.2rem;
	}
	
	.IncomeDetails_d_d div:nth-child(4) {
		margin-top: 0.85rem;
		font-size: 0.8rem;
		color: #FF3381;
		height: 0.8rem;
		line-height: 0.8rem;
	}
	
	.IncomeDetails_d_d div:nth-child(5) {
		height: 0.65rem;
		line-height: 0.65rem;
		color: #666666;
		margin-top: 1.45rem;
		font-size: 0.7rem;
		padding: 0 0.65rem;
	}
	
	.IncomeDetails_d_d div:nth-child(5) span {
		font-size: 0.7rem;
	}
	
	.IncomeDetails_d1 {
		height: 4.35rem;
		background: white;
		box-sizing: border-box;
		padding: 1.05rem 0 0 0.65rem;
	}
	
	.IncomeDetails_d1 div {
		height: 0.7rem;
		line-height: 0.7rem;
	}
	
	.IncomeDetails_d1 div:nth-child(2) {
		margin-top: 1rem;
	}
	
	.IncomeDetails_d1 span {
		font-size: 0.7rem;
		color: #999999;
	}
	
	.IncomeDetails_d1 div:nth-child(1) .right {
		margin-right: 0.75rem;
	}
	
	.IncomeDetails_d1 div:nth-child(1) .right span {
		padding-left: 0.3rem;
	}
	
	.IncomeDetails_d1 div:nth-child(2) .right {
		margin-right: 0.65rem;
	}
	/*-----------------收益明细-------------------*/
	
	.Details {
		height: 2.25rem;
		background: white;
		display: flex;
		justify-content: space-around
	}
	
	.Details div {
		text-align: center;
		height: 2.25rem;
		line-height: 2.25rem;
		width: 33.33%;
		font-size: 0.7rem;
	}
	
	.Detailsd {
		font-size: 0.7rem;
		border-bottom: 2px solid #FC3381;
		color: #FF3381;
	}
	
	.Details_setion {
		margin-top: 4.5rem;
	}
	
	.Details_setion h4 {
		height: 1.8rem;
		line-height: 1.8rem;
		font-size: 0.6rem;
		text-indent: 0.65rem;
	}
	
	.Details_ul li {
		height: 3.55rem;
		background: white;
		width: 100%;
		border-bottom: 1px solid #EEEEEE;
	}
	
	.Details_ul div.left {
		box-sizing: border-box;
		padding-top: 0.9rem;
		padding-left: 0.65rem;
	}
	
	.Details_ul div.left p:nth-child(1) {
		font-size: 0.8rem;
		color: #999999;
		height: 0.75rem;
		line-height: 0.75rem;
	}
	
	.Details_ul div.left p:nth-child(2) {
		font-size: 0.6rem;
		color: #999999;
		height: 0.5rem;
		line-height: 0.5rem;
		margin-top: 0.5rem;
	}
	
	.Details_ul img {
		height: 1.8rem;
		width: 1.8rem;
		margin-top: 0.9rem;
		margin-right: 1.25rem;
		margin-left: 1.2rem;
	}
	
	.left_q {
		box-sizing: border-box;
		padding-top: 0.9rem;
		display: inline-block;
	}
	
	.left_q p:nth-child(1) {
		color: #FC3381;
		font-size: 0.9rem;
		height: 0.7rem;
		line-height: 0.7rem;
	}
	
	.left_q p:nth-child(2) {
		height: 0.7rem;
		line-height: 0.7rem;
		font-size: 0.7rem;
		margin-top: 0.55rem;
	}
	
	#p {
		color: #000000;
	}
	
	.left_q p:nth-child(2) span {
		margin-left: 0.5rem;
	}
	/*-----------------收款二维码-------------------------*/
	
	.QrCode {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding-top: 0.5rem;
	}
	
	.QrCode .QrCode_d {
		height: 10.6rem;
		width: 8.7rem;
		background: white;
	}
	
	.QrCode_d div:nth-child(1) {
		height: 5.95rem;
		width: 5.9rem;
		background: url(../img/images/ytw_xuanzetupian.png) no-repeat;
		background-size: cover;
		margin: 1.4rem auto;
	}
	
	.QrCode_d div:nth-child(1) img {
		height: 1.3rem;
		width: 1.3rem;
	}
	
	.QrCode_d div:nth-child(2) {
		height: 1.9rem;
		width: 8.7rem;
		background: #FAFAFA;
		text-align: center;
		font-size: 0.6rem;
		line-height: 1.9rem;
	}
	
	.QrCode1 {
		height: 1.5rem;
		width: 84%;
		background: #FF3381;
		margin: 1rem auto;
		line-height: 1.5rem;
		text-align: center;
		border-radius: 1rem;
		color: white;
		font-size: 0.7rem;
	}
	/*-------------店铺二维码-------------*/
	
	.DpQrCode1.right {
		background: url(../img/images/ytw_bangdianbao_gengduo.png) no-repeat 0.45rem 0;
		height: 1rem;
		width: 1.5rem;
		background-size: 1.05rem 0.3rem;
		margin-top: 0.95rem;
		margin-right: 0.6rem;
	}
	
	.DpQrCode {
		height: 2.25rem;
		background-color: white;
		text-align: center;
		line-height: 2.25rem;
		border-bottom: 0.05rem solid #EEEEEE;
		font-size: 0.8rem;
	}
	
	.DpQrCode .left {
		background: url(../img/images/fanhui.png) no-repeat;
		height: 1.1rem;
		width: 1.5rem;
		background-size: 0.6rem 1.1rem;
		display: inline-block;
		margin-top: 0.6rem;
		margin-left: 0.6rem;
	}
	
	.DpQrCode2 {
		height: 22.05rem;
		width: 16.6rem;
		background: white;
		margin-top: 3.65rem;
		margin-left: 1.1rem;
		border-radius: 0.15rem;
	}
	
	.DpQrCode2_d {
		box-sizing: border-box;
		padding-top: 1rem;
		padding-left: 1rem;
	}
	
	.DpQrCode2_d img {
		height: 3.25rem;
		margin-right: 0.55rem;
	}
	
	.DpQrCode2_d div p:nth-child(1) {
		font-size: 0.9rem;
	}
	
	.DpQrCode2_d div p:nth-child(2) {
		font-size: 0.6rem;
		color: #666666;
		margin-top: 1.15rem;
	}
	
	.DpQrCode3_d {
		height: 12.75rem;
		width: 12.75rem;
		margin-top: 1.65rem;
		margin-left: 1.95rem;
	}
	
	.DpQrCode3_d img {
		height: 12.75rem;
		width: 12.75rem;
	}
	
	.DpQrCode4_d {
		text-align: center;
	}
	
	.DpQrCode4_d p {
		font-size: 0.6rem;
		color: #666666;
	}
	
	.DpQrCode4_d p:nth-child(1) {
		margin-top: 1rem;
	}
	
	.DpQrCode4_d p:nth-child(1) span span {
		color: #FC3982;
	}
	
	.DpQrCode4_d p:nth-child(2) {
		margin-top: 0.01rem;
	}
	/*--------------------足迹------------------------------*/
	
	.MyFootprints {
		margin-top: 2.3rem;
	}
	
	.MyFootprints_d img {
		height: 4.65rem;
		width: 4.65rem;
		margin-top: 0.45rem;
		margin-left: 0.6rem;
		margin-right: 0.9rem;
	}
	
	.MyFootprints_d div p {
		font-size: 0.6rem;
		margin-top: 1rem;
		margin-bottom: 1.2rem;
		width: 11.75rem;
	}
	
	.MyFootprints_d div span {
		font-size: 0.8rem;
		color: #FF3381;
	}
	
	.MyFootprints_d ul li {
		height: 5.55rem;
		background: white;
		border-bottom: 1px solid #EEEEEE;
	}
	
	.MyFootprints_d ul li input {
		height: 1.2rem;
		width: 2.2rem;
		background: #FF3381;
		border: none;
		border-radius: 0.2rem;
		color: white;
		font-size: 0.7rem;
		margin-left: 47%;
	}
	/*---------------------------母婴内发布--------------------*/
	
	.Neibufab {
		margin-top: 2.3rem;
		background: white;
		height: 100%;
	}
	
	.Neibufab div:nth-child(1) {
		height: 14.05rem;
		width: 100%;
		box-sizing: border-box;
		text-align: center;
		color: white;
		font-size: 0.85rem;
		background: url(../img/images/63577060308162443.jpg) no-repeat;
		background-size: cover;
		padding-top: 4.5rem;
	}
	
	.Neibufab div:nth-child(1) img {
		height: 5.05rem;
		width: 5rem;
		display: block;
		margin: 0 auto;
		border-radius: 50%;
	}
	
	.Neibufab div:nth-child(1) p {
		margin-top: 0.6rem;
	}
	
	.Neibufab_d ul {
		margin-top: 0.6rem;
		line-height: 2.3rem;
	}
	
	.Neibufab_d ul li {
		width: 93%;
		height: 2.45rem;
		border: 1px solid #EEEEEE;
		margin: 0 auto;
	}
	
	.Neibufab_d ul li .left {
		color: #666666;
		font-size: 0.7rem;
		margin-left: 0.45rem;
		border-right: 1px solid #c8c8c8;
		height: 0.9rem;
		padding-right: 0.4rem;
		margin-top: 0.8rem;
		line-height: 0.9rem;
	}
	
	.Neibufab_d ul li input {
		margin-left: 0.6rem;
		border: none;
		width: 49%;
		font-size: 0.7rem;
		color: #C8C8C8;
	}
	/*----------------我的订单----------------------------*/
	
	.DingDdang {
		height: 2.25rem;
		border: 1px solid red;
	}
	
	.DingDdang_section {
		margin-top: 4.5rem;
	}
	
	.DingDdang_d_d {
		height: 2.55rem;
		padding-left: 0.55rem;
		box-sizing: border-box;
		line-height: 2.6rem;
		font-size: 0.6rem;
		background: #FAFAFA;
	}
	
	.DingDdang_d_d span:nth-child(3) {
		margin-right: 0.5rem;
		color: #FF3381;
	}
	
	.DingDdang_d_d span:nth-child(2) {
		color: #666666;
		margin-left: 20%;
	}
	
	.DingDdang_d_d span:nth-child(2) span {
		padding-left: 0.3rem;
	}
	
	.DingDdang_d_d1 {
		background: white;
		width: 100%;
		height: 5.55rem;
		border-bottom: 1px solid #EEEEEE;
	}
	
	.DingDdang_d_d1 img:nth-child(1) {
		position: absolute;
		height: 2.3rem;
		width: 2.3rem;
		border: none;
	}
	
	.DingDdang_d_d1 img:nth-child(2) {
		height: 4.65rem;
		width: 4.65rem;
		margin-right: 0.6rem;
	}
	
	.DingDdang_d_d1 div.left {
		width: 13rem;
	}
	
	.DingDdang_d_d1 div.left p {
		width: 12.8rem;
	}
	
	.DingDdang_d_d1 div.left p:nth-child(1) {
		font-size: 0.6rem;
		margin-top: 0.4rem;
	}
	
	.DingDdang_d_d1 div.left p:nth-child(2) {
		font-size: 0.6rem;
		color: #666666;
		margin-top: 0.25rem;
	}
	
	.DingDdang_d_d1 div.left p:nth-child(3) {
		font-size: 0.6rem;
		color: #666666;
	}
	
	.DingDdang_d_p {
		margin-top: 0.8rem;
	}
	
	.DingDdang_d_p span:nth-child(1) {
		font-size: 0.6rem;
		color: #FF3381;
	}
	
	.DingDdang_d_p span:nth-child(1) span {
		font-size: 0.7rem;
	}
	
	.DingDdang_d_p span:nth-child(2) span {
		font-size: 0.7rem;
		color: #666666;
	}
	
	.DingDdang_d_p span:nth-child(2) {
		font-size: 0.6rem;
		color: #666666;
	}
	
	.DingDdang_d_p span:nth-child(3) {
		font-size: 0.6rem;
		line-height: 1.2rem
	}
	
	.DingDdang_d_d2 {
		height: 2.25rem;
		width: 100%;
		background: white;
		line-height: 2.25rem;
		padding-left: 0.9rem;
		box-sizing: border-box;
		border-bottom: 1px solid #eeeeee;
	}
	
	.DingDdang_d_d2 span:nth-child(1) {
		font-size: 0.6rem;
		color: #666666;
	}
	
	.DingDdang_d_d2 span:nth-child(1) span {
		font-size: 0.75rem;
		color: #222222;
	}
	
	.DingDdang_d_d2 span:nth-child(2) {
		font-size: 0.6rem;
		color: #666666;
		margin-left: 0.8rem;
	}
	
	.DingDdang_d_d2 span:nth-child(3) {
		font-size: 0.6rem;
		color: #666666;
	}
	
	.DingDdang_d_d2 span:nth-child(3) span {
		font-size: 0.8rem;
		color: #666666;
	}
	
	.DingDdang_d_d2 span.right {
		font-size: 0.6rem;
		margin-right: 0.65rem;
	}
	
	.DingDdang_d_d3 {
		height: 2.05rem;
		background: white;
		width: 100%;
		justify-content: space-around;
		display: flex;
	}
	
	.DingDdang_d_d3 div {
		height: 1.3rem;
		width: 3.8rem;
		line-height: 1.4rem;
		margin-top: 0.35rem;
		font-size: 0.6rem;
		border: 1px solid #c8c8c8;
		border-radius: 0.7rem;
		text-align: center;
	}
	/*---------母婴收藏夹------------------------*/
	
	.Collection {
		height: 2.25rem;
		border: 1px solid red;
	}
	
	.Collection_section {
		margin-top: 4.5rem;
	}
	
	.Collection_d {
		background: white;
		height: 5.55rem;
		border-bottom: 1px solid #eeeeee;
	}
	
	.Collection_d img {
		height: 4.65rem;
		width: 4.65rem;
		margin: 0.45rem 0.9rem 0 0.6rem;
	}
	
	.Collection_d p {
		height: 1.45rem;
		font-size: 0.6rem;
		width: 11.75rem;
		margin-top: 1.05rem;
	}
	
	.Collection_d span {
		font-size: 0.6rem;
		color: #FF3381;
	}
	
	.Collection_d span span {
		font-size: 0.8rem;
		margin-top: 1.8rem;
		display: inline-block;
	}
	
	.Collection_d1 {
		height: 4.3rem;
		background: white;
		border: 1px solid red;
	}
	
	.Collection_d1 img.left {
		height: 3.25rem;
		width: 3.25rem;
		margin: 0.55rem 0.75rem 0 0.55rem
	}
	
	.Collection_p {
		margin-top: 0.5rem;
	}
	
	.Collection_p span:nth-child(1) {
		font-size: 0.55rem;
		color: white;
		display: inline-block;
		width: 1.55rem;
		height: 0.8rem;
		background: #FFB33B;
		text-align: center;
		line-height: 0.8rem;
	}
	
	.Collection_p span:nth-child(2) {
		font-size: 0.8rem;
		margin-left: 0.6rem;
	}
	
	.Collectid1_d p {
		width: 13rem;
	}
	
	.Collectid1_d p:nth-child(2) img {
		height: 0.55rem;
		width: 0.55rem;
	}
	
	.Collectid1_d p:nth-child(2) span {
		font-size: 0.6rem;
		color: #808080;
	}
	
	.Collectid1_d p:nth-child(3) span {
		font-size: 0.6rem;
		color: #666666;
	}
	
	.Collectid1_d p:nth-child(3) .right {
		margin-top: 0.1rem;
	}
	/*--------------用户登录-------------*/
	
	#Header1 {
		height: 100%;
		background: white;
		text-align: center;
	}
	
	.Header_Div .left {
		background: url(../img/images/fanhui.png) no-repeat;
		height: 1.1rem;
		width: 0.6rem;
		background-size: 0.6rem 1.1rem;
		display: inline-block;
		margin: 0.6rem 0.6rem 0 0.6rem;
	}
	
	.Header_Div {
		border-bottom: 1px solid #EEEEEE;
		height: 2.25rem;
		padding-right: 1.2rem;
		line-height: 2.25rem;
		font-size: 0.8rem;
	}
	
	#TUP {
		height: 7px;
		width: 0.6rem;
		position: absolute;
		margin-top: 0.85rem;
		right: 2.5rem;
	}
	
	.Yonghudenglu_Div1 {
		height: 6.1rem;
		text-align: center;
	}
	
	.Yonghudenglu_Div1 img {
		height: 4.5rem;
		width: 4.5rem;
		margin: 0.8rem 0rem;
		border-radius: 50%;
	}
	
	.select-dl {
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		width: 84%;
		height: 2rem;
		border: none;
		background: #FFF7FA;
		border-radius: 0.5rem;
		font-size: 0.7rem;
		text-indent: 0.5rem;
		font-family: myFirstFont;
	}
	
	.Yonghudenglu_Div2 {
		margin: 0 auto;
	}
	
	.Yonghudenglu_Div2 input {
		height: 2rem;
		width: 84%;
		text-align: left;
		margin: auto;
		border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
		background-color: #FFF7FA;
		font-size: 0.7rem;
		text-indent: 0.65rem;
		border: none;
		font-family: myFirstFont;
	}
	
	.Yonghudenglu_Div2 input::-webkit-input-placeholder {
		font-family: myFirstFont;
	}
	
	.Yonghudenglu_Div2 input:nth-child(2) {
		margin: 0.45rem 0rem;
	}
	
	.Yonghudenglu_Div3 {
		margin: auto;
		height: 2.2rem;
		color: white;
		text-align: center;
		width: 84%;
		background-color: #FF3381;
		border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
		line-height: 2.2rem;
		font-size: 0.85rem;
		margin-top: 0.6rem;
	}
	
	.Yonghudenglu_Div4 {
		margin: auto;
		width: 84%;
		height: 2.5rem;
		margin-top: 0.8rem;
	}
	
	#A1 {
		color: #FF5D95;
		font-size: 0.6rem;
	}
	
	#A2 {
		color: #666666;
		font-size: 0.6rem;
	}
	
	.mui-toast-container {
		line-height: 1rem;
		position: fixed;
		z-index: 100000;
		bottom: 32%;
		left: 50%;
		-webkit-transition: opacity .3s;
		transition: opacity .3s;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		/*opacity: 0;*/
	}
	
	.mui-toast-message {
		font-size: 0.7rem;
		padding: 0.3rem 0.4rem;
		text-align: center;
		color: #FAFAFA;
		border-radius: 0.2rem;
		background-color: #000000;
	}
	
	.mui-toast-container.mui-active {
		opacity: 1;
	}
	
	.hide {
		display: none;
	}
	/*----------------我的注册--------------------------*/
	
	.Wyzc_Header_Div1 {
		text-align: center;
		margin: 0.8rem 0;
	}
	
	.Wyzc_Header_Div1 input {
		width: 84%;
		text-align: left;
		text-indent: 0.65rem;
		font-size: 0.7rem;
		color: #999999;
		height: 2rem;
		background-color: #FFF7FA;
		border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
		border: none;
	}
	
	#input1 {
		margin-top: 0.45rem;
	}
	
	.Wyzc_Header_button {
		color: white;
		height: 1.25rem;
		width: 3.8rem;
		border-radius: 0.65rem 0.65rem 0.65rem 0.65rem;
		background-color: #FF3381;
		font-size: 0.6rem;
		border: none;
		position: absolute;
		text-align: center;
		line-height: 1.25rem;
		right: 2.2rem;
		margin-top: 0.8rem
	}
	
	.Wyzc_Header_Div2 {
		text-align: center;
		height: 2.2rem;
		line-height: 2.2rem;
		margin: auto;
		background: #c8c8c8;
		width: 84%;
		border-radius: 0.5rem;
		color: white;
	}
	
	.Wyzc_Header_Div2 a {
		height: 100%;
		width: 100%;
		color: white;
		display: block;
	}
	
	.Wyzc_Header_Div3 {
		text-align: center;
		height: 2.2rem;
		line-height: 2.2rem;
		margin: auto;
		background: #FC3381;
		width: 84%;
		border-radius: 0.5rem;
		color: white;
		display: none;
	}
	/*-----------忘记密码-------------*/
	
	.Wjmm_Header_Div1 {
		text-align: center;
	}
	
	.Wjmm_Header_Div1 ul li input {
		width: 84%;
		text-align: left;
		text-indent: 0.65rem;
		font-size: 0.7rem;
		color: #999999;
		height: 2rem;
		background-color: #FFF7FA;
		border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
		border: none;
	}
	
	#input3 {
		margin-top: 0.8rem;
	}
	
	#input4 {
		margin-top: 0.45rem;
	}
	
	.Wjmm_Header_button {
		color: white;
		height: 1.25rem;
		width: 3.8rem;
		border-radius: 0.65rem 0.65rem 0.65rem 0.65rem;
		background-color: #FF3381;
		font-size: 0.6rem;
		border: none;
		position: absolute;
		text-align: center;
		line-height: 1.25rem;
		right: 2.2rem;
		margin-top: 0.8rem
	}
	
	.Wjmm_Header_Div2 {
		text-align: center;
		height: 2.2rem;
		line-height: 2.2rem;
		margin: auto;
		background: #FF3381;
		width: 84%;
		border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
		margin-top: 0.6rem;
		display: none;
	}
	
	.Wjmm_Header_Div2 a {
		display: block;
		color: white;
	}
	/*---------------选择地址------------------------*/
	
	#header-xz {
		position: fixed;
		top: 0;
		left: 0;
		box-sizing: border-box;
		width: 100%;
	}
	
	#header-xz div:nth-child(1) {
		height: 2.25rem;
		background: white;
		font-size: 0.8rem;
		text-align: center;
		line-height: 2.25rem;
		padding-right: 1.2rem;
	}
	
	#header-xz .left {
		width: 0.6rem;
		height: 1.1rem;
		background: url(../img/images/fanhui.png) no-repeat;
		background-size: 0.6rem 1.1rem;
		margin-left: 0.6rem;
		margin-top: 0.6rem;
	}
	
	#header-xz div:nth-child(2) {
		background: #c9c9ce;
		height: 2rem;
	}
	
	#header-xz div:nth-child(2) input {
		font-size: 0.6rem;
		border: none;
		background: white;
		width: 93.6%;
		text-align: center;
		height: 1.45rem;
		border-radius: 0.2rem;
		margin: 0.3rem 0.6rem;
	}
	
	#div-xz {
		height: 100%;
		background: white;
	}
	
	.div-xz {
		margin-top: 4.2rem;
		width: 95%;
	}
	
	.div-x .ding {
		height: 1.5rem;
		background: #DBDBDB;
		font-size: 0.6rem;
		line-height: 1.5rem;
		text-indent: 0.65rem;
	}
	
	.div-x ul li div {
		text-indent: 1.15rem;
	}
	
	.div-x ul li {
		height: 2rem;
		font-size: 0.6rem;
		line-height: 2rem;
		background: white;
	}
	
	.div-x ul li p {
		border-bottom: 1px solid #F0F1F2;
		height: 1.95rem;
		margin-left: 1.15rem;
	}
	
	.div-x1 {
		font-size: 0.6rem;
		color: #1986FF;
		position: fixed;
		bottom: 5.8rem;
		width: 1rem;
		text-align: center;
		right: 0;
	}