/*母婴机构*/

/*下载按钮*/
body { 
	padding-bottom: 40px; 
}
.download_button{
	min-height: 40px;
	background-color:#ff3381 ;
	text-align: center;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 40px;
}

/*标题*/
.details_title{
	line-height: 35px;
	font-size: 15px;
	font-weight: normal;
}

/*时间标题*/
.details_time_left{
	margin-right: 8px;
	line-height: 13px;
}

/*被浏览的次数*/
.details_num{
	text-align: right;
}

/*时间所在行字体*/
.details_time{
	height: 30px;
	line-height: 13px;
	font-size: 10px;
	color: #999999;
}

/*描述头部*/
.details_introduce_top{
	margin-top: 5px;
	line-height: 30px;
}

/*描述内容*/
.details_introduce_bottom{
	line-height: 21px;
	font-size: 14px;
	color: #222222;
}

/*信息左侧*/
.details_left{
	font-size: 13px;
	color: #999999;
}

/*信息右侧*/
.details_content{
	font-size: 14px;
	color: #222222;
}

/*39px行高*/
.row_line_39{
	line-height: 39px;
}

/*37px行高*/
.row_line_37{
	line-height: 37px;
}

/*43px行高*/
.row_line_43{
	line-height: 43px;
}

/*描述图标居中*/
.details_label{
	text-align: center;
}

/*描述图标样式*/
.label_down{
	color: #c8c8c8;
	font-weight:100;
	font-size: 10px;
}

/*描述内容展开与闭合*/
.details_introduce{
	display:-webkit-box !important; /*将对象作为弹性伸缩盒显示*/
    /*overflow:hidden;*/
    overflow:overlay; /*内容区可滚动*/
  
    text-overflow:ellipsis; /*截断符*/
    word-break:break-all; /*强制换行*/

    -webkit-box-orient:vertical; /*让块按垂直方向排版*/
    -webkit-line-clamp:2;  /*显示的行数*/
}


